# Next.js backend sample
# Prefer CIRCLE_API_KEY. CIRCLE_STABLEFX_API_KEY remains supported as a legacy alias.
CIRCLE_API_KEY=
CIRCLE_STABLEFX_API_KEY=
CIRCLE_ENVIRONMENT=sandbox
ARC_RPC_URL=https://rpc.testnet.arc.network
MERCHANT_SETTLEMENT_ADDRESS=
MERCHANT_SETTLEMENT_FROM_BLOCK=0
ARC_USDC_ADDRESS=0x3600000000000000000000000000000000000000
ARC_USDT_ADDRESS=
ARC_EURC_ADDRESS=
NEXT_PUBLIC_ARC_USDC_ADDRESS=0x3600000000000000000000000000000000000000
NEXT_PUBLIC_ARC_USDT_ADDRESS=
NEXT_PUBLIC_ARC_EURC_ADDRESS=
NEXT_PUBLIC_ARC_RPC_URL=https://rpc.testnet.arc.network
